<%- cache(@carousel) do -%>
  <div uk-slideshow="ratio: 500:200; animation: push; autoplay: true">
    <div class="uk-position-relative uk-visible-toggle uk-light">
      <ul class="uk-slideshow-items">
        <%= render partial: 'spree/carousels/item', collection: @carousel, as: :item %>
      </ul>
    </div>
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
<%- end -%>
