<%- cache(@carousel) do -%>
  <div uk-slideshow="ratio: 7:3; animation: push">
    <div class="">
      <ul class="uk-slideshow-items">
        <%= render partial: 'spree/carousels/item', collection: @carousel, as: :item %>
      </ul>
    </div>
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"/>
  </div>
<%- end -%>
