<%- cache(item) do -%>
  <li class="carousel-item<%= item_counter == 1 ? ' active' : '' %>">
    <%= image_tag item.image.attachment.url(:product), class: '', 'uk-cover': '' unless item.image.nil? %>
    <%- unless item.content.nil? %>
      <div class="uk-overlay uk-position-bottom">
        <%= raw item.content %>
      </div>
    <%- end %>
  </li>
<%- end -%>
